:root {
    --color-main: #265B6A;
    --color-light: #119AC1;
    --color-medium: #1F768E;
    --color-dark: #223E46;
    --color-darkest: #151F22;
    --color-background: whitesmoke;
    --color-default-black: rgb(40, 40, 40);
    --color-text: white;
    /* Columns and Rows are based on TileMap01 */
    --columns: 19;
    --rows: 13;
    /* 
      If screen-height / rows makes smaller tiles choose this,
      If screen-width / columns makes smaller tiles choose this,
      If --max-resolution / columns makes smaller tiles choose this,
      the result will be a map that is "Fullscreen" and fits the screen fully
    */
    --nav-height: 3rem;
    --max-resolution: 720px;
    --map-border: 1rem;
    --map-padding: 0rem;
    --tile-scale-margin-vertical: calc(var(--nav-height) + (var(--map-padding) + var(--map-border)) * 2);
    --tile-scale-margin-horizontal: calc((var(--map-padding) + var(--map-border)) * 2);
    --tile-size: min(calc((100vh - var(--tile-scale-margin-vertical)) / var(--rows)), calc((100vw - var(--tile-scale-margin-horizontal)) / var(--columns)), calc(var(--max-resolution) / var(--rows)));
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    flex: 1;
    background-color: var(--color-background);
}

nav {
    width: 100%;
    height: var(--nav-height);
    /*background-color: #f0f0f0;*/
    background-color: var(--color-light);
    box-shadow: 0 1px 5px 0 gray;
}

nav>ul {
    height: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
}

nav>ul>li {
    display: flex;
    align-items: center;
    background-color: var(--color-medium);
    color: var(--color-text);
    padding: 0 2rem 0 2rem;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#tile-grid {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--tile-size));
    grid-template-rows: repeat(var(--rows), var(--tile-size));
    background-color: var(--color-background);
    border: var(--map-border) solid var(--color-dark);
    border-radius: 5px;
    padding: var(--map-padding);
}

.hidden {
    visibility: hidden;
}

.game-end {
    position: absolute;
    background-color: var(--color-darkest);
    border-radius: 50px;
    padding: 25px;
}

.tile-wall {
    background-image: url("images/wall.png");
}

.tile-goal {
    background-image: url("images/goal.png");
}

.tile-space {
    background-image: none;
}

.tile-border {
    border: 1px dotted var(--color-darkest);
}

.entity-player {
    background-image: url("images/player.png");
}

.entity-block {
    background-image: url("images/block.png");
}

.entity-block-goal {
    background-image: url("images/block-goal.png");
}

.tile-wall,
.tile-goal,
.tile-space,
.entity-block,
.entity-player,
.entity-block-goal {
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}