:root {
    /* Columns and Rows are based on TileMap01 */
    --columns: 19;
    --rows: 13;
    /* 
      If screen-height / rows makes smaller tiles choose this,
      If screen-width / columns makes smaller tiles choose this,
      If --max-resolution / columns makes smaller tiles choose this,
      the result will be a map that is "Fullscreen" and fits the screen fully
    */
    --max-resolution: 720px;
    --tile-size: min(calc(100vh / var(--rows)), calc(100vw / var(--columns)), calc(var(--max-resolution) / var(--rows)));
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

main {
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--tile-size));
    grid-template-rows: repeat(var(--rows), var(--tile-size));
    box-shadow: 0 0 1rem 1rem gainsboro;
}

.hidden {
    visibility: hidden;
}

.game-end {
    position: absolute;
    background-color: white;
    border-radius: 50px;
    padding: 25px;
}

.tile-wall {
    background-image: url("images/wall.png");
}

.tile-goal {
    background-image: url("images/goal.png");
}

.tile-space {
    background-image: none;
}

.tile-debug-border {
    border: 1px dotted black;
}

.entity-player {
    background-image: url("images/player.png");
}

.entity-block {
    background-image: url("images/block.png");
}

.entity-block-goal {
    background-image: url("images/block-goal.png");
}

.tile-wall,
.tile-goal,
.tile-space,
.entity-block,
.entity-player,
.entity-block-goal {
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}